body {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    background-image: url(images/abstract-wave-trendy-geometric-abstract-background-with-white-and-blue-gradient-vector.jpg);
    
  }